.home { 
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: minmax(180px, auto);
}

.box {
    padding: 20px;
    border-radius: 10px;
    border: 1px solid aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box; /* Bao gồm padding và border vào kích thước */
}

.box1, .box3 {
    grid-column: span 1;
    grid-row: 1;
    height: 100%; /* Đảm bảo chiều cao của hộp là 100% */
}

.box4 {
    grid-column: span 2;
    grid-row: 2;
    height: 31rem; /* Điều chỉnh theo nhu cầu */
}